/*  global style    */

body {
    font-family: Roboto, Arial, Times New Roman, sans-serif;
    color: #2E2F42;
}

h1 {
    font-size: 56px;
    line-height: 1,071;
    color: #FFF;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    line-height: 1,111;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    line-height: 1,2;
    font-weight: 500;
}

p {
    font-size: 16px;
    line-height: 1,5;
    color: #434455;
    font-weight: 400;
}

/*          header        */

.nav-ul-li {
    font-size: 16px;
    line-height: 1,5;
    color: #2E2F42;
    font-weight: 500;
}





.button {
    font-size: 16px;
    line-height: 1,5;
    font-weight: 500;
}